.reveal
  .slides
    %section
      %h1 Face Detection<br/>&amp; Recognition
      %h3 With Ruby and OpenCV
    %section
      = haml :'sections/about'
    %section
      = haml :'sections/history'
    %section
      = haml :'sections/opencv'
    %section
      = haml :'sections/face_detection'
    %section
      = haml :'sections/face_recognition'
    %section
      = haml :'sections/social'
